/*FOr table*/
.tab{
  padding: 100px;

}

.table {
  border-collapse: collapse;
  width: 700px;
  height: auto;


}

.th, td {
  text-align: left;
  padding: 8px;
}

.tr:nth-child(even) {background-color: #f2f2f2;}


/*for dropdown*/

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 300px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}
